<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <websites>
        <base>
            <design>
                <variables>
                    <variables_additional_custom>
                        <![CDATA[{ "0": { "record_id": "0", "value": "Sample Value", "key": "Sample-Key" }}]]>
                    </variables_additional_custom>
                </variables>
            </design>
        </base>
    </websites>
</config>
